<div class="container">
    <form action="/forget" method="post">
    <div class="row">
    <label for="old"><h5 class="text-light">Old Password</h5></label>
    </div>
    <div class="row">
        <input type="text" name="old" id="old">
    </div>
    <div class="row">
    <label for="new"><h5 class="text-light">New Password</h5></label>
    </div>
    <div class="row">
        <input type="text" name="new" id="new">
    </div>
    <div class="row">
    <label for="confirm"><h5 class="text-light">Confirm Password</h5></label>
    </div>
    <div class="row">
        <input type="text" name="confirm" id="confirm">
    </div>
    </form>
</div>