<div class="container">
    <div class="row border rounded bg-dark text-light mt-5 mx-auto">
        <h4 class="text-center mt-3">Registration Form</h4>
        <span class="text-danger fw-bold fs-5">Personal Details</span>
        <div class="col-md-3">

            <form action="/" method="post">
            <div class="row mt-4">
             <label class="mt-4" for="name"> <h5>Name :</h5> </label>
            </div>


            <div class="row mt-4">
             <label class="mt-4" for="email"><h5>Email :</h5></label>
             
            </div>
           


         <div class="row mt-4">
             <label class="mt-4" for="mobilenumber"><h5>Mobile Number :</h5></label>
            </div>


         <div class="row mt-4">
             <label class="mt-4" for="password"><h5>Password :</h5></label>
            </div>





            <div class="row mt-4">
             <label class="mt-4" for="confirmpassword"><h5>Confirm Password :</h5></label>
            </div>

            <div class="row mt-4">
             <label class="mt-4" for="secure"><h5>Security Question :</h5></label>
            </div>


            <div class="row mt-4">
             <label class="mt-4" for="secureanswer"><h5>Security Answer :</h5></label>
            </div>
        </div>




    <div class="col-md-8">
        <div class="row mt-4">
        <input class="mt-4 text-success hidden" type="text" name="name" id="name">
        </div>
        <div class="row mt-4">
        <input class="mt-4 text-success hidden" type="text" name="email" id="email">
        </div>
        <div class="row mt-4">
        <input class="mt-4 text-success hidden" type="text" name="mobilenumber" id="mobilenumber">
        </div>
        <div class="row mt-4">
        <input class="mt-4 text-success hidden" type="text" name="password" id="password">
        </div>
        <div class="row mt-4">
        <input class="mt-4 text-success hidden" type="text" name="confirmpassword" id="confirmpassword">
        </div>
        <div class="row mt-4">
        <select class="mt-4 text-danger hidden" name="secure" id="secure" >
       <option value="select">Select</option>
        <option value="Which is your favourite book ?">Which is your favourite book ?</option>
        <option value="Which is the website you rarely visit ?">Which is the website you rarely visit ?</option>
        <option value="What is the name of  your first school?">What is the name of  your first school?</option>
        <option value="What is your neighbour's pet name ?">What is your neighbour's pet name ?</option>
        <option value="What is the registration number of your first vehicle ?">What is the registration number of your first vehicle ?</option>
        </select>
        </div>

        <div class="row mt-4">
        <input class="mt-4 text-success hidden" type="secureanswer" name="secureanswer" id="secureanswer">
        </div>
    </div>

    <div class="row mt-4 mb-4 mx-auto">
        <button class="text-center btn btn-success w-md-auto w-full">Submit</button>
    </div>
    <div class="row">
        <a href="/forget" class="text-center text-decoration-none text-light">Forget Password</a>
    </div>
  </form>


        </div>





    </div>
</div>